// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

@use "./variables" as vars;
@use 'widgets/workspace';
@use 'widgets/cpu';

// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

window.Bar {
  background: vars.$bg-color;
  // color: $fg-color;
  font-weight: bold;
  font-size: 18px;
  // margin: -1px;

  > centerbox {
    background: #7e7e7e85;
    border-radius: 10px;
    margin: 500px 100px 50px 100px;
  }
}

