@import "../variables";

.workspace {
    background: $bg-color;
    border: 2px solid $bg-highlight;
    border-radius: 10px;
    margin: 2px 0px 2px 1px;

    > button {
        background: $bg-color;
        font-size: 12px;
        margin: 0px 0px 0px 0px;
        min-height: 15px;
    }
    > button:hover {
        background: $bg-color-alt;
        border-radius: 0px;
        margin: 0px 0px 0px 0px;
        border-radius: 4px;
    }
}
